<h1>New Enrollment</h1>

<form action="/create_enrollment">
<!--   <div>
    <label for="student_id">student_id</label><br />
    <input id="student_id" name="student_id" type="text" />
  </div> -->
  <div>
    <label for="student_id">Student</label><br />
     <select name="student_id" id= "student_id">
       <% Student.all.each do |student| %>
      <option value = "<%= student.id %>"> <%= student.name %></option>
      <% end %>
    </select>  
  </div>
  
  <div>
<!--     <input id="course_id" name="course_id" type="text" /> -->
    <label for="course_id">Course</label><br />
     <select name="course_id" id= "course_id">
       <% Course.all.each do |course| %>
      <option value = "<%=course.id %>"> <%= course.name %></option>
      <% end %>
    </select>      
  </div>
  
  <div>
    <input type="submit">
  </div>
  
</form>

